/* header styling */

body {
    background-color: #1F2937;
    font-family: 'Nunito', sans-serif;
}

.header {
    /*background-color: #1F2937;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*font-family: 'Nunito', sans-serif;*/
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    padding: 18px;
    margin-left: 150px;
}

a {
    text-decoration: none; /* removes the line under the links */ 
    color: #E5E7EB;
}

ul {
    list-style-type: none; /* removes bulletpoints */
    
}

.header-links {
    display: flex;
    font-size: 18px;
    gap: 18px;
    padding: 18px;
    margin-right: 150px;
}


/* change header-links color when hovering */
a:hover {
    color: #13adee;;
    transition: 0.25s;
}


/* header content styling */

.header-content {
    display: flex;
    /*background-color: #1F2937;*/
    align-items: center;
    justify-content: space-around;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    line-height: 1.5;
}

.header-button{
    background-color: white;
    color: black;
    font-weight: 500;
    border-radius: 8px; 
    padding: 8px;
    font-size: 24px;
    width: 6em;
    border: none; 
    transition: 0.5s
}

.header-button:hover {
    background-color: #13adee;
    color: white;
    border-radius: 16px;
}   

.left {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right {
    margin-right: 150px;
}

/* TO DO: Mudar a cor de equipe nossol ema e contato quando hover  - OK
- Continuar página (seção Quem somos)
*/  
