html {
    scroll-behavior: smooth;
}

/* header styling */

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    padding: 18px;
    margin-left: 150px;
}

a {
    text-decoration: none; /* removes the line under the links */ 
    color: #E5E7EB;
}

ul {
    list-style-type: none; /* removes bulletpoints */
    
}

.header-links {
    display: flex;
    font-size: 18px;
    gap: 18px;
    padding: 18px;
    margin-right: 150px;
}

.logo-image {
    width: 450px;
    height: auto;
}


/* change links color when hovering */
a:hover {
    color: #13adee;;
    transition: 0.25s;
}


/* header content styling */

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1F2937;
    gap: 1em;
    min-height: 700px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    line-height: 1.75;
}

.header-button{
    background-color: white;
    color: black;
    font-weight: 500;
    border-radius: 8px; 
    padding: 8px;
    font-size: 24px;
    width: 6em;
    border: none; 
    transition: 0.5s
}

.header-button:hover {
    background-color: #13adee;
    color: white;
    border-radius: 16px;
}   

.left {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 700px;
}

.right {
    margin-right: 150px;
}

/* about page styling */

.about-page {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    padding: 30px;
    margin: 30px 0;
}

.team-image {
    width: 150px;
    height: auto;
}

.photos-container {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.team-name {
    font-size: 23px;
}

.description {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
    color: #696868;
    padding: 0;
    margin-bottom: 100px;
}

a.linkedin {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    text-decoration: none;
    color: #696868;
    font-size: 20px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    margin: 0;
}


.description .linkedin:hover {
    background-color: transparent;
    text-decoration: underline;
    color:#1F2937
}

.bordered-part {
    border: 4px solid #13adee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 30px;
    border-radius: 12px;
    max-width: 175px;
    min-width: 175px;
    
}

/* astra companion styling*/

.astra-companion {
    background-color: #E5E7EB;
    display: flex;
    justify-content: space-between; 
}

.companion-image {
    height: 600px;
    width: auto;
    margin: 75px;
    padding: 0;
    margin-left: 350px;
}

.right-companion {
    margin-right: 100px;
    margin-top: 75px;
}

.companion-title {
    color: #282a55;
    font-size: 48px;
}

.companion-text {
    color: #37479c;
    font-size: 48px;
    max-width: 750px;
}

.companion-video {
    width: 500px;
    height: auto;
    margin-top: 20px;
    border-radius: 12px;
}

.right-below {
    display: flex;
}